#logo {
  max-height:100px;
  float:right;
}
.big-link {
  display:inline-block;
  padding:10px;
  padding-bottom:5px;
  border-radius:10px;
}
.small-link {
  border-radius:5px;
}
a:hover.spotify-colors {
  color:#FFFFFF;
}
a:hover.youtube-colors {
  color:#121212;
}
.logout-button {
  float:right;
}
.spotify-colors {
  background-color:#1ed760;
  color:#121212;
}
.youtube-colors {
  background-color:#FF0000;
  color:#FFFFFF;
}
.left-align {
  text-align:left;
}
#youtube-login {
  margin-top:30%;
}
.pressable {
  border:none;
  cursor:pointer;
  text-align:left;
}
.pressable:hover {
  text-decoration:underline;
}
#youtube-loggedin {
  text-align:left;
}
.half {
  height:85vh;
  text-align:center;
  overflow:auto;
  padding-top:10px;
  margin-top:10px;
  padding-bottom:10px;
}
.left-half {
  border-right: solid 1px #121212;
}
.right-half {
  border-left: solid 1px #121212;
}
.header {
  background-color:#121212;
}
body {
  background-color:#272727;
  color:white;
}
.playlist-button {
  display:block;
}
.no-background {
  background-color:transparent;
  color:white;
}
#popup {
  display:none;
  position:fixed;
  padding-top:10px;
  top:30%;
  left:50%;
  margin-left:-20vw;
  width:40vw;
  height:50vh;
  background-color:#121212;
  text-align:center;
  border-radius:20px;
  overflow-y:auto;
}
.popup-dismiss {
  position:relative;
  top:1em;
  padding: 5px 10px 5px;
  border-radius:10px;
  background-color:#FFFFFF;
}
.loggedin-message {
  display:inline-block;
  margin-bottom:0.5em;
} 
@keyframes pulse {  
  50% { opacity: 30%; }
}
#info {
  padding-top:20px;
  height:60vh;
}
#bottom-section {
  background-color:#121212;
}
#github-link {
  color:#121212;
  background-color:#FFFFFF;
  padding:0px 2px;
  margin:0px 2px 0px 1px;
}
#remaining {
  width:100%;
}
#spotify-import {
  width:80%;
  background-color:#121212;
  border:none;
  color:#FFFFFF;
  height: calc(100% - 2.17em - 144px);
  min-height:200px;
  border-radius:5px;
  margin-bottom:8px;
}
#import-submit {
  display:block;
  margin: 0 auto;
  font-size:1.17em;
}
.large-text {
  display:inline;
}
.color-bar {
  height:10px;
}
#convert-popup {
  top:40%;
  width:400px;
  display:block;
  position:absolute;
  left: calc(50vw - 200px);
  text-align:center;
}
#convert-button {
  display:block;
  margin: 0 auto;
  border: solid #1ed760;
  animation: border-pulse 3s ease infinite;
}
#finished {
  background-color:#121212;
  height:500px;
  overflow-y:scroll;
}
@keyframes border-pulse {
  50% {border-color:#FF0000}
}
#login-buttons {
  padding-top:30%;
}